@import "./../../components/variables.scss";
.input-data {
  &__title {
    font-size: 47px;
    line-height: 55px;
    color: $black-color;
    font-weight: bold;
    max-width: 218px;
    margin-top: 40px;
    margin-bottom: 36px;
    margin-right: 82px;
    @media (max-width: 768px) {
      margin-right: 60px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    max-width: 168px;
    color: $black-color;
    margin-top: 103px;
    margin-bottom: 44px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__language-switching {
    display: flex;
    height: 20px;
    max-width: 63px;
    transform: rotate(-90deg);
    margin: 102px -20px 10px auto;
  }

  &__delimiter {
    font-size: 16px;
    line-height: 19px;
    color: $black-color;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__switch {
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 63px;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      color: $black-color;
    }
  }

  &__photo {
    margin-bottom: 60px;
    width: 100%;
  }
}

.about-me {
  // padding: 70px 0 0 0;
  background-color: #f6f6f6;
  height: 635px;
  overflow: hidden;
  display: flex;

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: $black-color;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0;
  }

  &__messages {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  &__message {
    width: 478px;
    border: 2.5px solid $black-color;
    padding: 14px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 21px;
    position: relative;

    &:before {
      content: "";
      background-color: #f6f6f6;
      width: 30px;
      height: 30px;
      border-bottom: solid 2.5px $black-color;
      border-right: solid 2.5px $black-color;
      box-sizing: border-box;

      transform: rotate(45deg);

      position: absolute;
      bottom: -16px;
    }

    &__one {
      margin-top: 51px;
      margin-bottom: 38px;

      &:before {
        right: 28px;
      }
    }

    &__two {
      margin-bottom: 38px;
      margin-left: 100px;
      &:before {
        left: 28px;
      }
    }

    &__three {
      margin-bottom: 70px;

      &:before {
        right: 28px;
      }
    }
  }
}

.skills {
  // padding: 89px 0 22px 0;
  display: flex;
  @media (max-width: 1012px) {
    justify-content: center;
  }
  flex-direction: column;

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: $black-color;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $black-color;
    margin-top: 28px;
    margin-bottom: 16px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-bottom: 74px !important;
  }
  &__item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #828282;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 24px;
    }
    &-icon {
      margin-left: auto;
      margin-right: auto;
    }

    &-indicators {
      display: flex;
      align-items: center;
    }

    &-percents {
      width: 27px;
      font-weight: bold;
      color: #828282;
      font-size: 14px;
      line-height: 16px;
      margin-right: 11px;
      @media (max-width: 768px) {
        margin-right: 8px;
      }
    }

    &-progressbar {
      @media (max-width: 768px) {
        width: 111px;
      }
      width: 142px;
      display: block;
      background: $black-color;
      border: 0;
      height: 9px;

      &::-webkit-progress-bar {
        background-color: #e5e5e5;
        border-radius: 2px;
      }
      &::-webkit-progress-value {
        border-radius: 2px;
      }
    }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: $black-color;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 0;
  }
  &__slider-slide {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  &__slider-control {
    display: flex;
    justify-content: space-between;
  }
  &__button-back {
    position: relative;
    background-color: transparent;
    border-radius: 100%;
    border: 2.5px solid #070707;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    &:hover,
    &:focus {
      border: 2.5px solid #808080;
      cursor: pointer;
      &:before {
        border-bottom: 2.5px solid #808080;
        border-right: 2.5px solid #808080;
      }
    }
    &:before {
      content: "";
      width: 17px;
      height: 17px;
      border-bottom: 2.5px solid #070707;
      border-right: 2.5px solid #070707;
      box-sizing: border-box;
      transform: rotate(137deg);
      position: absolute;
      bottom: 10px;
      left: 12.5px;
    }
  }

  &__switch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider-title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-bottom: 1px dashed #000000;
    color: $black-color;
    &:hover {
      border-bottom: 1px solid #000000;
      cursor: pointer;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: $black-color;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 580px;
    @media (max-width: 768px) {
      width: 426px;
    }
    height: 63px;
    margin-right: -7px;
  }

  &__pagination {
    margin-bottom: 60px;
  }

  &__pagination-item-slider {
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #e5e5e5;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    transition: background-color 0.4s;

    &_active {
      background-color: $black-color;
    }

    &:not(.portfolio__pagination-item-slider_active):hover,
    &:not(.portfolio__pagination-item-slider_active):focus {
      background-color: #808080;
    }
  }

  &__button-back-forward {
    transform: rotate(-180deg);
  }
}

.modal-window {
  background-color: rgba(246, 246, 246, 0.99);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  display: flex;

  &_show {
    opacity: 1;
    pointer-events: auto;
  }

  &__form {
    background-color: #ffffff;
    width: 680px;
    @media (max-width: 768px) {
      width: 648px;
    }
    height: 542px;
    border: 2.5px solid $black-color;
    margin: auto;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: $black-color;
    margin-bottom: 6px;

    &_one {
      margin-top: 38.5px;
    }
    &_two {
      margin-top: 20px;
    }
    &_four {
      margin-top: 20px;
    }
    &_five {
      margin-left: 15px;
      color: #dddddd;

      &:hover,
      &:focus {
        color: #828282;
      }
    }
  }

  &__button-close {
    position: absolute;
    right: -34;
    width: 25.46px;
    height: 24px;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover .modal-window__line,
    &:focus .modal-window__line {
      background-color: #070707;
    }
  }

  &__agreement {
    border: 2px solid #dddddd;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ffffff;
  }
  &__line {
    width: 32px;
    height: 4px;
    background-color: #cccccc;
    border-radius: 16.1px;
    transition: background-color 0.5s;

    &_one {
      transform: rotate(-45deg);
    }

    &_two {
      transform: rotate(45deg);
      margin-top: -4px;
    }
  }

  &__group {
    background: #ffffff;

    &_one {
      margin-bottom: 17.5px;
      margin-top: 41px;
    }
    &_two {
      margin-right: 17.5px;
      display: inline-block;
    }
    &_three {
      display: inline-block;
    }
    &_four {
      margin-top: 17.5px;
    }
    &_five {
      display: flex;
      margin-top: 20px;
      color: #dddddd;
      position: relative;
    }
  }

  &__name {
    width: 595px;
    @media (max-width: 768px) {
      width: 563px;
    }
    height: 45px;
    border: 2.5px solid #cccccc;
    box-sizing: border-box;
    &:hover {
      border: 2.5px solid #808080;
      transition: border 0.5s;
    }
    &:active {
      border: 2.5px solid #070707;
      transition: border 0.5s;
    }
  }

  &__topic {
    width: 285px;
    @media (max-width: 768px) {
      width: 270px;
    }
    height: 45px;
    border: 2.5px solid #cccccc;
    box-sizing: border-box;
    display: inline-block;
    &:hover {
      border: 2.5px solid #808080;
      transition: border 0.5s;
    }
    &:focus {
      border: 2.5px solid #070707;
      transition: border 0.5s;
    }
  }
  &__mail {
    width: 285px;
    @media (max-width: 768px) {
      width: 270px;
    }
    height: 45px;
    border: 2.5px solid #cccccc;
    box-sizing: border-box;
    display: inline-block;
    &:hover {
      border: 2.5px solid #808080;
      transition: border 0.5s;
    }
    &:focus {
      border: 2.5px solid #070707;
      transition: border 0.5s;
    }
  }
  &__comment {
    width: 595px;
    @media (max-width: 768px) {
      width: 563px;
    }
    height: 145;
    border: 2.5px solid #cccccc;
    box-sizing: border-box;
    &:hover {
      border: 2.5px solid #808080;
      transition: border 0.5s;
    }
    &:focus {
      border: 2.5px solid #070707;
      transition: border 0.5s;
    }
    &:focus {
      border: 2.5px solid #808080;
      transition: border 0.5s;
    }
    &:focus {
      border: 2.5px solid #070707;
      transition: border 0.5s;
    }
  }
  &__agreement {
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;

    &:checked ~ .modal-window__fake-input {
      border: 2.5px solid #070707;

      .modal-window__check-mark {
        opacity: 1;
      }
    }
    &:checked ~ .modal-window__title_five {
      color: #070707;
    }
  }
  &__fake-input {
    width: 19px;
    height: 19px;
    border: 2.5px solid #cccccc;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;

    &:hover {
      border: 2px solid #828282;
      box-sizing: border-box;
    }
  }
  &__check-mark {
    position: absolute;
    background-image: url(static/images/check.png);
    left: 1px;
    bottom: 1.5px;
    width: 14px;
    height: 14.41px;
    opacity: 0;
  }

  &__button-send {
    cursor: no-drop;
    background-color: transparent;
    color: #dddddd;
    border: 2.5px solid #dddddd;
    box-sizing: border-box;
    width: 131px;
    height: 42px;
    border-radius: 30px;
    margin-top: 20px;
    &:hover,
    &:focus {
      color: #828282;
      border: 2.5px solid #828282;
      cursor: pointer;
      transition: border 0.5s;
    }
  }
}
