.input-data {
  &__title {
    font-size: 47px;
    line-height: 55px;
    color: #070707;
    max-width: 218px;
    margin-top: 40px;
    margin-bottom: 36px;
    margin-right: 82px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    max-width: 168px;
    color: #070707;
    margin-top: 103px;
    margin-bottom: 44px;
  }

  &__info {
    display: flex;
  }

  &__language-switching {
    display: flex;
    height: 20px;
    max-width: 63px;
    transform: rotate(-90deg);
    margin: 102px -20px 10px auto;
  }

  &__delimiter {
    font-size: 16px;
    line-height: 19px;
    color: #070707;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__switch {
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 63px;
    padding: 0;

    &:hover,
    &_active {
      color: #070707;
    }
  }

  &__photo {
    max-width: 980px;
    margin-bottom: 60px;
  }
}

.about-me {
  // padding: 70px 0 0 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  height: 635px;

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #070707;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0;
  }

  &__message {
    width: 481px;
    border: 2.5px solid #070707;
    padding: 14px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 21px;
    position: relative;

    &:before {
      content: "";
      background-color: #f6f6f6;
      width: 30px;
      height: 30px;
      border-bottom: solid 2.5px #070707;
      border-right: solid 2.5px #070707;
      box-sizing: border-box;

      transform: rotate(45deg);

      position: absolute;
      bottom: -16px;
    }

    &__one {
      margin-top: 51px;
      margin-left: 200px;
      margin-bottom: 38px;

      &:before {
        right: 28px;
        
      }
    }

    &__two {
      margin-bottom: 38px;
      margin-left: 300px;

      &:before {
        left: 28px;
      }
    }

    &__three {
      margin-left: 200px;
      margin-bottom: 70px;

      &:before {
        right: 28px;
        
      }
    }
  }
}

.skills {
  // padding: 89px 0 22px 0;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #070707;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    margin-top: 28px;
    margin-bottom: 16px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-bottom: 74px  !important;
    
  }
  &__item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #828282;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 24px;
    }
    &-icon {
      margin-left: auto;
      margin-right: auto;
    }

    &-indicators {
      display: flex;
      align-items: center;
    }

    &-percents {
      width: 27px;
      font-weight: bold;
      color: #828282;
      font-size: 14px;
      line-height: 16px;
      margin-right: 11px;
    }

    &-progressbar {
      width: 142px;
      display: block;
      background: #070707;
      background: -o-linear-gradient(#828282);

      border: 0;
      height: 9px;

        &::-webkit-progress-bar {
        background-color: #E5E5E5;
        border-radius: 2px;
        }
        &::-webkit-progress-value {
        border-radius: 2px; 
        }
    }
  }
  
}

.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #070707;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 0
  }
  &__slider-slide {
    max-width: 980px;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  &__slider-control {
    display: flex;
    justify-content: space-between;
    
  }
  &__button-back {
    padding: 0;
    border: none;
    background-color: #11ffee00;
    width: 42px;
    height: 42px;
  }

  &__switch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider-title {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    
  }

  &__description {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 580px;
    height: 63px;
    margin-right: -7px;
    
  }

  &__pagination {
    margin-bottom: 60px;
  }

  &__pagination-item-slider {
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color:#E5E5E5;
    width: 10px;
    height: 10px;
    margin-right: 7px;
   

    &-active:hover {
      background-color: #070707;
    }
    &-active:focus {
      background-color: #070707;
    }
  }
 
  &__button-back-forward {
    transform: rotate(-180deg);
  }
  
}
