<header class="header">
  <div class="container"> 
    <nav class="header__menu">
      <ul class="clean-point header__links">
        <li><a class="clear-link header__link" href="#home">Home</a></li>
        <li><a class="clear-link header__link" href="#about-me">About me</a></li>
        <li><a class="clear-link header__link" href="#skills">Skills</a></li>
        <li><a class="clear-link header__link" href="#portfolio">Portfolio</a></li>
        <li><a class="clear-link header__link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
  </div> 
</header>
