header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 1440px;
}

a {
  color: #828282;
  text-decoration: none;
  }

a:active{
  color: #070707;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  height: 22px;
  position: fixed;
  background: #fff;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid black;
  list-style-type: none;
}
