// Подключение компонентов
@import "./header/style.scss";
@import "./footer/style.scss";

body {
  font-family: "Gilroy", Arial, sans-serif;
}

.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title-block {
  margin: 0 0 20px 0;

  &_one {
    font-size: 30px;
    text-transform: uppercase;
  }
  &_two {
    font-size: 25px;
    max-width: 500px;
  }
}
