<footer class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__content">
      <h2 class="contacts__title">
        Contacts
      </h2>
      <div class="contacts__subtitle">
        Want to know more or just chat?
        You are welcome!
      </div>
      <button class="contacts__button-window">Send message</button>
      <ul class="clean-point contacts__social-networks">
        <li class="contacts__item">
          <a class="contacts__button"  target="_blank" href="https://www.instagram.com/duck_nastya/?hl=ru">
            Instagram
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__button"  target="_blank" href="https://vk.com/top_kovshik">
            Vk
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__button" target="_blank" href="https://teleg.run/duck_nastya">
            Telegram
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__button" target="_blank" href="mailto:the.kovshik@gmail.com">
            Mail
          </a>
        <li class="contacts__item">
          <a class="contacts__button"  target="_blank" href="https://github.com/Anastasiya194">
            GitHub
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__button" target="_blank" href="tel:+79397060730">
            Phone
          </a>
        </li>
      </ul>
      <div class="contacts__who-did">
        <div class="contacts__bottom-info">
        Design by <a class="contacts__designer"  target="_blank" href="https://ducker-dev.github.io">Ducker</a></div>
        <div class="contacts__bottom-info">
        Program code from Anastasia</div>
      </div>
    </div>
  </div>
</footer>