.contacts {

  &__title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #070707;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    margin-top: 23px;
    margin-bottom: 31px;
    max-width: 275px;
  }

  &__button-window {
    background: #070707;
    width: 180px;
    border-radius: 30px;
    padding: 10px 26.5px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    border: none;
    transition: color .5s;
    transition: background-color .5s;
    &:hover,
    &:focus {
      background-color:transparent;
      color: #070707;
      border: 2.5px solid #070707;
      box-sizing: border-box;
      padding: 7.5px;
      cursor: pointer;
      transition: color .5s;
      transition: background-color .5s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__social-networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 328px;
    margin: 42px 0 36px 0!important;
  }

  &__item {
    margin: 0 5px 10px 5px;
  }

  &__button {
    display: block;
    padding: 7.5px 16.5px;

    border: 2.5px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;

    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    transition: color .5s;
    transition: background-color .5s;
    &:hover,
    &:focus {
      background: #070707;
      color: #FFFFFF;
      cursor: pointer;
      transition: color .5s;
      transition: background-color .5s;
    }
  }
  &__who-did {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #828282;
    margin-bottom: 70px;
  }

  &__designer {
    color: #828282;
    text-decoration: none; 
    border-bottom: 1px dashed #828282;

    &:hover, 
    &:focus { 
      border-bottom: 1px solid #070707;
      color: #070707;
      cursor: pointer;
      transition: color .5s;
      transition: border .5s;
    }
  }
}